@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  background-color: #131313;
  font-family: 'Roboto', sans-serif;
}

.header-seamless {
  background: linear-gradient(to bottom, #080808, #131313e6);
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Orbitron', sans-serif;
  color: #dd5050;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(#080808c6, #080808c6),
    url(assets/halo2-background.png) no-repeat center center/cover;
  filter: grayscale(100%);
  z-index: -1;
}

.welcome {
  font-family: 'Orbitron', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.glass-card {
  background: rgb(55, 55, 55);
  color: #ccc;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.glass-card .card-header {
  position: relative;
  background-color: #212121;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.glass-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(244, 24, 24, 0.585);
}


.card-header-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1em;
}

.profile-img {
  height: 6rem;  
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10;
}

.card-title-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
  padding: 0 0.5rem;
  z-index: 1;
}

.card-title-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3rem;
  height: 100%;
  width: calc(100% + 7rem);
  background: linear-gradient(to right, rgb(18, 18, 18), transparent);
  z-index: -1;
}

.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  max-height: 230px;
}


.card-title {
  margin: 0;
}

.card-subtitle {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
}

.card-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background-color: #2f2f2f;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #7d7d7d;
  text-align: center;
}

.card-controls {
  position: absolute;
  right: 0rem;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.btn-control {
  background: none;
  border: none;
  color: #ccc;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0;
}

.btn-control:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ccc;
}

.btn-closed:hover {
  background-color: rgb(254, 38, 38);
  color: #ccc;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
}

.glass-card .card-body {
  padding: 1rem;
}

.btn-gradient {
  background: linear-gradient(to top, #94111182, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 50%;
  height: 100px;
  color: #ccc;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  text-align: center;
  transition: background 0.3s;
  font-family: 'Orbitron', sans-serif;
  filter: none !important;
}

.btn-gradient:hover {
  background: linear-gradient(to top, #570c0c, transparent);
  text-decoration: none;
  color: #fff;
}
